body {
max-width: 1700px; margin: 0 auto }

div.left {
width: 40%; 
padding: 0 0 0 0%;
float:left
position:relative;
margin-top:20px;


}

div.content {
width: 40%;
padding-left:100px;
margin-left:150px;
margin-top:20px;
padding: 0 5%;
float: left

}

div.right {
width: 20%; 
padding: 0 0 0 0;
float: right;
margin-top:20px;


}


#footer{
	height:50px;
	width:100%;
	background-color:teal;
	clear:both;
	position:fixed;
	margin-top:480px;
}
